# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production

# Prisma
generated/

# Build
dist/
build/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Cache
.cache/

# AI Tools
.agents/
.claude/
.windsurf/

# chave git
#  AAAAC3NzaC1lZDI1NTE5AAAAINwA4yoFve7PcL/wlQZl0Rn+CXVNSoQ1tfFykGlh6Kro